@media (min-width: 576px) {

    .d-none {
        display: unset;
    }

    .header-left-section nav li a {
        font-size: 16px;
        padding: 0.8rem 1rem;
    }
    .header-left-section nav li a:hover {
        color: #e7746f;
    }

    .header-right-section ul {
        border: 1px solid #575d69;
    }
    .header-right-section li a {
        padding: 0.8rem 1.5rem;
        font-size: 16px;
    }
    .header-right-section li a:hover {
        background-color: #575d69;
    }

    .header-right-section li .btn-like {
        background-color: #1877f2;
        padding: 0.2rem 1rem;
        font-size: 14px;
        border-radius: 4px;
    }
    .header-right-section li .btn-tweet {
        background-color: #1d9bf0;
        padding: 0.2rem 1rem;
        font-size: 14px;
        border-radius: 20px;
    }
    .header-right-section ul:first-child li {
        padding: 0.7rem 1rem;
    }

    /* HERO  START */

    .hero-content {
        padding: 0 7rem;
    }
    .hero-content h1 {
        letter-spacing: 0.4rem;
    }
    .hero-content p {
        margin-top: 2rem;
    }
    .hero a {
        margin-top: 2rem;
    }
    main {
        padding: 0 4rem;
    }
    .main-content-wrapper {
        padding: 2rem;
    }
    .main-content-wrapper .date {
        font-size: 1rem;
    }
    .main-content-wrapper h2 {
        font-size: 3rem;
        margin-top: 2rem;
        line-height: 3rem;
        letter-spacing: 4px;
    }
    .main-content-wrapper p {
        margin-top: 1rem;
        font-size: 1rem;
        line-height: 2rem;
    }
    .main-content-wrapper .date::before,
    .main-content-wrapper .date::after {
        width: 25%;
    }

    .main-content-wrapper img {
        height: 250px;
        margin: 2rem 0;
    }

    /* CARD SECTION  */


    .card {
        padding: 4rem 2rem;
    }
    .card:nth-child(2n) {
        border-left: 2px solid #eee;
    }

    .card img {
        height: 200px;
    }
    .card img + p {
        margin-top: 1rem;
        line-height: 2rem;
    }
    .card .btn {
        margin-top: 2rem;
    }
    /* CONTACTS SECTION  */
    .contact-right-section > div {
        padding: 2.5rem 2rem;
    }
    /* Main Section End */
    /* FOOTER  */
    .footer-wrapper {
        flex-direction: row;
    }
}
@media (min-width: 768px) {
    .active {
        background-color: #575d69;
        color: white;
    }
    .header-left-section nav li a:hover {
        background-color: #575d69;
        color: #ffff;
    }
    /* HERO  START */

    .hero-content h1 {
        font-size: 5rem;
        line-height: 5rem;
    }

    .hero a {
        width: 4rem;
        height: 4rem;
    }
    i {
        font-size: 14px;
    }
    /* HERO  END */

    /* MAIN SECTION START */

    .main-content-wrapper {
        padding: 4rem;
    }

    /* CARD SECTION  */
    .card {
        padding: 4rem 3rem;
    }

    .card img {
        height: 320px;
    }
    .card img + p {
        margin-top: 1rem;
        line-height: 2rem;
    }
    .card .btn {
        margin-top: 2rem;
    }
    /* CONTACTS SECTION  */
    .contacts-section .btn {
        width: 50%;
    }
    .contact-left-section {
        padding: 3rem;
    }
    .contact-right-section > div {
        padding: 2.5rem 3rem;
    }
    /* Main Section End */

    /* FOOTER  */
    .footer-wrapper {
        flex-direction: row;
    }
}
@media (min-width: 1150px) {
    .space-between {
        justify-content: space-between;
    }
    .align-center {
        align-items: center;
    }
    /******** HEADER SECTION *********/

    .header-wrapper {
        flex-direction: row;
    }
    /* ********************************  */
    /* HEADER LEFT SECTION  */
    i {
        font-size: 14px;
    }
    .header-left-section {
        gap: 1rem;
        flex-direction: row;
    }
    .header-left-section .logo h2 {
        padding: 0;
    }

    .header-left-section nav li a {
        font-size: 16px;
        padding: 0.8rem 1rem;
    }


    /* ***********************************  */

    /* HEADER RIGHT SECTION  */

    .header-right-section {
        gap: 1rem;
        margin-top: 0;
    }
    .header-right-section li .btn-tweet,
    .header-right-section li .btn-like {
        font-size: 12px;
        padding: 0.3rem 1rem;
    }

    /* HERO  START */

    .hero-content h1 {
        width: 50%;
        font-size: 5rem;
        line-height: 5rem;
    }

    .hero-content p {
        font-size: 1.2rem;
        width: 70%;
        line-height: 2.4rem;
    }

    .hero a {
        width: 4rem;
        height: 4rem;
    }
    .hero a i {
        font-size: 20px;
    }
    main {
        padding: 0 12rem;
    }
    .main-content-wrapper {
        padding: 6rem;
    }

    .main-content-wrapper h2 {
        line-height: 3.4rem;
    }
    .main-content-wrapper p {
        margin-top: 2rem;
        font-size: 1rem;
        line-height: 2rem;
        padding: 0 10%;
    }
    .main-content-wrapper .date::before,
    .main-content-wrapper .date::after {
        width: 30%;
    }
    .main-content-wrapper img {
        height: 350px;
        margin: 4rem 0;
    }

    /* CARD SECTION  */
    .cards-wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .card {
        padding: 4rem 2rem;
    }
    .card:nth-child(2n) {
        border-left: 2px solid #eee;
    }
    .card img {
        height: 250px;
    }
    .card img + p {
        margin-top: 1rem;
        line-height: 2rem;
    }
    .card .btn {
        margin-top: 2rem;
    }

    /* CONTACTS SECTION  */

    .contacts-section {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .contact-left-section {
        padding: 2rem;
    }
    .contact-right-section {
        display: flex;
        flex-direction: column;
        border-left: 2px solid #dbdbdb;
    }
    .contact-right-section label {
        flex: 1;
    }
    .contact-right-section p {
        flex: 4;
        margin-top: -0.2rem;
    }
    .contact-right-section > div {
        flex: 1;
        padding: 2.5rem 2rem;
        flex-direction: row;
        border-top: none;
    }
    .contact-right-section > div:nth-child(n) {
        border-bottom: 2px solid #dbdbdb;
    }
    .contact-right-section > div:last-child {
        border-bottom: none;
    }
    .contact-right-section .social ul {
        flex: 4;
        gap: 1rem;
        justify-content: unset;
    }
    /* Main Section End */

    /* FOOTER  */
    .footer-wrapper {
        flex-direction: row;
    }
}
@media (min-width: 1400px) {
    .btn-big {
        padding: 1rem 3rem;
        font-size: 1rem;
    }
    .hero-content h1 {
        font-size: 6rem;
        line-height: 6rem;
    }
    .hero-content p {
        font-size: 1.4rem;
        width: 65%;
        line-height: 3rem;
    }
    .hero {
        transform: translateY(8%);
    }
    .hero a {
        width: 5rem;
        height: 5rem;
        margin-top: 3rem;
    }
    .hero a i {
        font-size: 24px;
    }
    .main-content-wrapper {
        padding: 10rem;
    }
    .main-content-wrapper h2 {
        font-size: 4.4rem;
        margin-top: 4rem;
        line-height: 5rem;
        letter-spacing: 6px;
    }
    .main-content-wrapper p {
        line-height: 2.8rem;
        padding: 0 25%;
    }
    .main-content-wrapper img {
        height: 540px;
    }
    .card {
        padding: 5rem 4rem;
    }
    .card h2 {
        font-size: 2.4rem;
    }
    .card img {
        height: 360px;
        margin-top: 4rem;
    }
    .card img + p {
        line-height: 2.6rem;
        font-size: 1rem;
        margin-top: 2.6rem;
    }
    .contact-left-section {
        padding: 4rem;
    }
    .contact-right-section > div {
        align-items: center;
        padding: 2.5rem 4rem;
    }
    .contact-right-section > div:nth-child(1) p {
        margin-top: 1rem;
    }
}
